* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box !important;
    /* font-family: Helvetica, Arial, sans-serif; */
    line-height: 1.3;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: rgba(0, 0, 0, .8);
    --main-color: #1678ff;
}

.grid {
    width: 100%;
    margin: 0 auto;
}

.main {
    position: relative;
    background-color: #f1f2f6;
    min-height: 100dvh;
}

/* navbar */
.navbar {
    background-color: #00152a;
    width: 18%;
    height: 100dvh;
    color: var(--white-color);
    position: fixed;
    padding-top: 3rem;
    top: 0;
    left: 0;
}

.navbar__header {
    text-decoration: none;
}

.navbar__header-logo {
    color: var(--white-color);
    font-size: 3.6rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.navbar__header-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 0.4rem;
}

.navbar__header-text {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--white-color);
    border-radius: 0.3rem;
    padding: 0.2rem 0.4rem;
}

.navbar__content {
    margin-top: 3rem;
}

.navbar__content-item {
    padding: 0rem 0.5rem;
    border-radius: 0.4rem;
}

.navbar__content-item-link {
    display: flex;
    text-align: center;
    align-items: center;
    color: var(--white-color);
    text-decoration: none;
    border-radius: 0.4rem;
    height: 4rem;
    position: relative;
    margin-top: 0.4rem;
    cursor: pointer;
}

.navbar__content-item-link:hover {
    background-color: #1678ff;
}

.navbar__content-item-link.active .navbar__content-sub-icon {
    transform: rotate(180deg);
}

.navbar__content-icon {
    font-size: 1.8rem;
    width: 4rem;
    margin-bottom: 0.5rem;
}

.navbar__content-text {
    font-size: 1.8rem;
    line-height: 3rem;
}

.navbar__content-sub-icon {
    font-size: 1.6rem;
    position: absolute;
    right: 1rem;
}


.navbar__content-sub {
    margin-left: 2.4rem;
    display: none;
}

.navbar__content-item-choose {
    background-color: #1678ff;
}

/* content */
.content {
    margin-left: 18%;
    padding-top: 5rem;
}

.content__navbar {
    height: 5rem;
    background-color: var(--white-color);
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0rem 1rem;
    position: fixed;
    width: 82%;
    top: 0;
    right: 0;
}

.content__navbar-notify {
    width: 3.6rem;
    height: 3.6rem;
    border: 0.1rem solid #ccc;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    margin-right: 0.5rem;
    color: var(--text-color);
}

.content__navbar-notify:hover {
 background-color: #f1f2f6;
}

.content__navbar-notify-icon {
    font-size: 1.8rem;
}

.content__navbar-account {
    position: relative;
}


.content__navbar-account:hover .content__navbar-account-sub {
    display: block;
}

.content__navbar-account-name {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 4.4rem;
    border-radius: 0.4rem;
}

.content__navbar-account-name:hover {
    background-color: #f1f2f6;
}

.content_navbar-img-wrapper {
    margin: 0rem 0.5rem;
}

.content__navbar-account-img {
    width: 3.6rem;
    height: 3.6rem;
    border: 0.1rem solid #ccc;
    border-radius: 50%;
}

.content__navbar-account-sub {
    align-items: center;
    position: absolute;
    background-color: var(--white-color);
    width: 100%;
    padding: 0.4rem;
    display: none;
}

.content__navbar-account-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    height: 4rem;
    padding-left: 1.4rem;
    border-radius: 0.4rem;
}

.content__navbar-account-item:hover {
    background-color: #f1f2f6;
}

.content__navbar-account-text {
    font-size: 1.6rem;
    margin-right: 0.8rem;
}

.content__navbar-account-icon {
    font-size: 1.4rem;
    margin-right: 0.5rem;
}

/* import */
.content__wrapper {
    margin: 2rem 1.5rem;
    background-color: var(--white-color);
    border-radius: 0.8rem;
}

.content__header {
    padding: 2.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

.content__header-text {
    font-size: 3rem;
    font-weight: bold;
}

.content__header-add {
    display: flex;
    align-items: center;
    background-color: #1678ff;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}

.content__header-add:hover {
    cursor: pointer;
    opacity: 0.7;
}
 
.content__header-add-icon {
    font-size: 1.6rem;
    color: var(--white-color);
    margin-right: 2rem;
}

.content__header-add-text {
    font-size: 1.6rem;
    color: var(--white-color);
}

.content__revenue {
    padding: 0rem 1.5rem 1.5rem;
}

.content__revenue-table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 0.1rem solid #ccc;
    font-size: 1.6rem;
    text-align: center;
    padding: 0rem 0.8rem;
}

.content__revenue-header {
    height: 4rem;
    background-color: #f1f2f6; 
    color: var(--text-color);
}

.content__revenue-item {
    height: 8rem;
}

.content__revenue-quantity {
    word-break: break-all;
}

.content__revenue-money {
    word-break: keep-all;
}

.content__revenue-detail {
    font-size: 1.6rem;
    text-decoration: none;
    color: #356fcf;
}

.content__revenue-detail:hover {
    opacity: 0.7;
}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}